<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong><br /><br />
  <% @recipe.ingredients.each do |i| %>
    <%= link_to i.name, i %> | <%= i.count %> in stock<br />
  <% end %>
</p>

<%= link_to 'Make recipe!', cook_recipe_path(@recipe) %> |


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
